# Clojure UI
external/clojure/* linguist-vendored

# Python Client
*_pb2*.py linguist-generated=true
*_pb2*.pyi linguist-generated=true

# Python sdk
openllm-python/tests/models/__snapshots__/* linguist-generated=true
openllm-python/README.md linguist-generated=true
openllm-python/CHANGELOG.md linguist-generated=true
openllm-core/src/openllm_core/config/__init__.py linguist-generated=true
openllm-core/src/openllm_core/utils/import_utils.pyi linguist-generated=true

# Others
Formula/openllm.rb linguist-generated=true
mypy.ini linguist-generated=true

* text=auto eol=lf
# Needed for setuptools-scm-git-archive
.git_archival.txt  export-subst
openllm-python/.git_archival.txt  export-subst
openllm-client/.git_archival.txt  export-subst
openllm-core/.git_archival.txt  export-subst
