# Clojure UI
contrib/clojure/pnpm-lock.yaml linguist-generated=true
contrib/clojure/src/generated/** linguist-generated=true

# Python core
openllm-python/tests/models/__snapshots__/* linguist-generated=true
openllm-python/src/openllm/utils/dummy_*.py linguist-generated=true
openllm-python/src/openllm/models/__init__.py linguist-generated=true
openllm-python/README.md linguist-generated=true

# Others
typings/**/*.pyi linguist-generated=true
Formula/openllm.rb linguist-generated=true


* text=auto eol=lf
# Needed for setuptools-scm-git-archive
.git_archival.txt  export-subst
openllm-python/.git_archival.txt  export-subst
