[envs.default]
dependencies = [
    # NOTE: To run all hooks
    "pre-commit",
    # NOTE: towncrier for changelog
    "towncrier",
    # NOTE: Using under ./tools/update-optional-dependencies.py
    "tomlkit",
    # NOTE: Using under ./tools/update-readme.py
    "markdown-it-py",
    # NOTE: pyright for type
    "pyright",
    # NOTE: Tests strategies with Hypothesis and pytest, and snapshot testing with syrupy
    "coverage[toml]>=6.5",
    "filelock>=3.7.1",
    "pytest",
    "pytest-cov",
    "pytest-mock",
    "pytest-randomly",
    "pytest-rerunfailures",
    "pytest-asyncio>=0.21.0",
    "pytest-xdist[psutil]",
    "trustme",
    "hypothesis",
    "syrupy",
]
features = ['flan-t5']
[envs.default.scripts]
_run_script = "pytest --cov --cov-report={env:COVERAGE_REPORT:term-missing} --cov-config=pyproject.toml"
changelog = "towncrier build --version main --draft"
fmt = ["tools", "pre-commit run --all-files"]
full = "_run_script --reruns 5 --reruns-delay 3 -r aR {args:tests}"
setup = "pre-commit install"
tools = [
    "./tools/update-readme.py",
    "./tools/update-optional-dependencies.py",
    "./tools/update-config-stubs.py",
    "- ./tools/add-license-headers .",
]
typing = "pyright {args:src/openllm tests}"
[envs.ui]
[envs.ui.scripts]
clojure = "cd dashboard/clojure && npm install && npm run dev"
[envs.test.overrides]
env.GITHUB_ACTIONS.env-vars = "COVERAGE_REPORT="
env.HERMETIC_TESTS.type = [{ value = "container", if = ["true"] }, "virtual"]
[envs.test.scripts]
[[envs.test.matrix]]
python = ["3.8", "3.9", "3.10", "3.11"]
[envs.coverage]
dependencies = ["coverage[toml]>=6.5", "lxml", "orjson"]
detached = true
[envs.coverage.scripts]
combine = "coverage combine {args}"
generate-summary = "python tools/generate-coverage.py"
report-uncovered-html = "coverage html --skip-covered --skip-empty"
report-xml = "coverage xml"
write-summary-report = "python tools/write-coverage-report.py"
