@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1em;

  & > .section {
    display: grid;
    grid-template-columns: 6em 3fr 1fr;

    @media all and (max-width: $mobileBreakpoint) {
      & > .tags {
        display: none;
      }
    }

    & > .tags {
      justify-self: end;
      margin-left: 1rem;
    }

    & > .desc > h3 > a {
      background-color: transparent;
    }

    & > .meta {
      margin: 0;
      flex-basis: 6em;
      opacity: 0.6;
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: 6em 1fr !important;
  & > .tags {
    display: none;
  }
}
