@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    /* Firefox */
    .scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #000000 #8d8d8d;
    }

    /* Chrome, Safari and Opera */
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 20px;
    }

    /* Chrome, Safari and Opera */
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #8d8d8d;
    }

    /* Chrome, Safari and Opera */
    .scrollbar::-webkit-scrollbar-thumb {
      background: #000000;
      border-radius: 100vh;
      /*border: 1px solid #f9a8d4;*/
    }

    /* Chrome, Safari and Opera */
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #333333;
    }
}
