{%- if versiondata["version"] == "main" -%}
## Changes for the Upcoming Release

:::{warning}
These changes reflect the current [development progress](https://github.com/bentoml/openllm/tree/main) and have **not** been part of a official PyPI release yet.
To try out the latest change, one can do: `pip install -U git+https://github.com/bentoml/openllm.git@main`
:::
{% else -%}
## [{{ versiondata["version"] }}](https://github.com/bentoml/openllm/tree/v{{ versiondata["version"] }})
{%- endif %}

{% for section, _ in sections.items() %}
{% if sections[section] %}
{% for category, val in definitions.items() if category in sections[section] %}

### {{ definitions[category]['name'] }}

{% for text, values in sections[section][category].items() %}
- {{ text }}
  {{ values|join(',\n  ') }}
{% endfor %}

{% endfor %}
{% else %}
No significant changes.


{% endif %}
{% endfor %}
