{:deps {:aliases [:dev]}
 :dev-http {8420 "www"}

 :builds
 {:app {:target :browser
        :output-dir "www/js"
        :asset-path "/js"
        :modules
        {:main
         {:init-fn openllm.app/init}}}}}
