name: Compile PyPI package
on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Tag for releases'
        required: true
        type: string
  workflow_call:
    inputs:
      tags:
        required: true
        type: string
    outputs:
      sucess:
        description: "Whether the build is successful or not"
        value: ${{ jobs.sucess-build.outputs.success }}
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  LINES: 120
  COLUMNS: 120
  HATCH_VERBOSE: 2
  CIBW_BUILD_FRONTEND: build
  CIBW_ENVIRONMENT_PASS_LINUX: >
    HATCH_BUILD_HOOKS_ENABLE
    MYPYPATH
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true
jobs:
  pure-wheels-sdist:
    name: Pure wheels and sdist distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # ratchet:actions/checkout@v3
        with:
          fetch-depth: 0
          ref: '${{ inputs.tags }}'
      - name: Setup CI
        uses: ./.github/actions/setup-repo
      - name: Build
        run: hatch build
        working-directory: openllm-python
      - name: Upload artifacts
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # ratchet:actions/upload-artifact@v3
        with:
          name: python-artefacts
          path: openllm-python/dist/*
          if-no-files-found: error
  mypyc:
    name: Compiled mypyc wheels (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./openllm-python
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: linux-x86_64
          # NOTE: darwin amd64
          - os: macos-latest
            name: macos-x86_64
            macos_arch: "x86_64"
          # NOTE: darwin arm64
          - os: macos-latest
            name: macos-arm64
            macos_arch: "arm64"
          # NOTE: darwin universal2
          - os: macos-latest
            name: macos-universal2
            macos_arch: "universal2"
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # ratchet:actions/checkout@v3
        with:
          fetch-depth: 0
          ref: '${{ inputs.tags }}'
      - name: Setup CI
        uses: ./.github/actions/setup-repo
        with:
          python-version: 3.8
      - name: Build wheels via cibuildwheel
        uses: pypa/cibuildwheel@39a63b5912f086dd459cf6fcb13dcdd3fe3bc24d # ratchet:pypa/cibuildwheel@v2.15.0
        with:
          package-dir: openllm-python
          config-file: pyproject.toml
        env:
          CIBW_PRERELEASE_PYTHONS: True
          CIBW_BEFORE_BUILD_MACOS: "rustup target add aarch64-apple-darwin"
          CIBW_ARCHS_MACOS: "${{ matrix.macos_arch }}"
          MYPYPATH: /project/typings
      - name: Upload wheels as workflow artifacts
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # ratchet:actions/upload-artifact@v3
        with:
          name: ${{ matrix.name }}-mypyc-wheels
          path: ./wheelhouse/*.whl
  check-download-artefacts:
    name: dry-run for downloading artefacts
    if: github.event_name == 'pull_request'
    needs: [pure-wheels-sdist, mypyc]
    runs-on: ubuntu-latest
    steps:
      - name: Download Python artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # ratchet:actions/download-artifact@v3
        with:
          name: python-artefacts
          path: dist
      - name: Download Linux x86_64 compiled artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # ratchet:actions/download-artifact@v3
        with:
          name: linux-x86_64-mypyc-wheels
          path: dist
      - name: Download MacOS x86_64 compiled artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # ratchet:actions/download-artifact@v3
        with:
          name: macos-x86_64-mypyc-wheels
          path: dist
      - name: Download MacOS arm64 compiled artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # ratchet:actions/download-artifact@v3
        with:
          name: macos-arm64-mypyc-wheels
          path: dist
      - name: Download MacOS universal2 compiled artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # ratchet:actions/download-artifact@v3
        with:
          name: macos-universal2-mypyc-wheels
          path: dist
      - name: dry ls
        run: ls -rthlaR
  push-nightly:
    name: Push nightly wheels
    if: ${{ !github.event.repository.fork && github.event_name == 'push' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Download Python artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # ratchet:actions/download-artifact@v3
        with:
          name: python-artefacts
          path: dist
      - name: Download Linux x86_64 compiled artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # ratchet:actions/download-artifact@v3
        with:
          name: linux-x86_64-mypyc-wheels
          path: dist
      - name: Download MacOS x86_64 compiled artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # ratchet:actions/download-artifact@v3
        with:
          name: macos-x86_64-mypyc-wheels
          path: dist
      - name: Download MacOS arm64 compiled artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # ratchet:actions/download-artifact@v3
        with:
          name: macos-arm64-mypyc-wheels
          path: dist
      - name: Download MacOS universal2 compiled artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # ratchet:actions/download-artifact@v3
        with:
          name: macos-universal2-mypyc-wheels
          path: dist
      - name: Publish nightly wheels to test.pypi.org
        uses: pypa/gh-action-pypi-publish@b7f401de30cb6434a1e19f805ff006643653240e # ratchet:pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/simple/
  sucess-build: # https://github.com/marketplace/actions/alls-green#why
    if: always()
    needs:
      - pure-wheels-sdist
      - mypyc
    runs-on: ubuntu-latest
    outputs:
      success: ${{ steps.everygreen.outputs.success }}
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # ratchet:re-actors/alls-green@release/v1
        id: evergreen
        with:
          jobs: ${{ toJSON(needs) }}
